### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#create a data frame
school_data_df = school_data_complete
school_data_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# reduce to necessary information
reduced_df = school_data_df[["school_name", "student_name", "grade", "reading_score", "math_score", "type", "size", "budget"]]
reduced_df.head()

,school_name,student_name,grade,reading_score,math_score,type,size,budget
0,Huang High School,Paul Bradley,9th,66,79,District,2917,1910635
1,Huang High School,Victor Smith,12th,94,61,District,2917,1910635
2,Huang High School,Kevin Rodriguez,12th,90,60,District,2917,1910635
3,Huang High School,Dr. Richard Scott,12th,67,58,District,2917,1910635
4,Huang High School,Bonnie Ray,9th,97,84,District,2917,1910635

In [4]:
# rename headers

rename_df = reduced_df.rename(columns={"school_name": "School Name", 
                                       "student_name": "Student",
                                       "grade": "Grade",
                                       "reading_score": "Reading Score", 
                                       "math_score":"Math Score",
                                       "type": "Type",
                                       "size": "Size",
                                       "budget": "Budget"})

In [5]:
rename_df.head()

,School Name,Student,Grade,Reading Score,Math Score,Type,Size,Budget
0,Huang High School,Paul Bradley,9th,66,79,District,2917,1910635
1,Huang High School,Victor Smith,12th,94,61,District,2917,1910635
2,Huang High School,Kevin Rodriguez,12th,90,60,District,2917,1910635
3,Huang High School,Dr. Richard Scott,12th,67,58,District,2917,1910635
4,Huang High School,Bonnie Ray,9th,97,84,District,2917,1910635

In [6]:
#Calculate the total number of schools
school_count = len(rename_df["School Name"].unique())
school_count

15

In [7]:
#Calculate the total number of students
student_count = len(rename_df["Student"])
student_count

39170

In [8]:
#Calculate the total budget
total_budget = sum(rename_df["Budget"].unique())
total_budget

24649428

In [9]:
#Calculate the average math score
average_math_score = rename_df["Math Score"].mean()
average_math_score

78.98537145774827

In [10]:
#Calculate the average reading score
average_reading_score = rename_df["Reading Score"].mean()
average_reading_score

81.87784018381414

In [11]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (average_reading_score + average_math_score) / 2
overall_passing_rate

80.43160582078121

In [12]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = len(rename_df[rename_df["Math Score"] >= 70])
math_pass_percent = (passing_math / student_count) * 100
math_pass_percent

74.9808526933878

In [13]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = len(rename_df[rename_df["Reading Score"] >= 70])
reading_pass_percent = (passing_reading / student_count) * 100
reading_pass_percent

85.80546336482001

In [14]:
#Create a dataframe to hold the above results
summary_table = pd.DataFrame({"Total Schools": school_count, 
                              "Total Students": student_count, 
                              "Total Budget": total_budget, 
                              "Average Math Score": average_math_score, 
                              "Average Reading Score": average_reading_score, 
                              "Math Passing Rate": math_pass_percent, 
                              "Reading Passing Rate": reading_pass_percent, 
                              "Overall Passing Rate": overall_passing_rate}, index=[0])
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [15]:
#Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [16]:
# create passing math column to add to groupby
rename_df['Passing Math'] = np.where(rename_df['Math Score']>=70, True, False)
rename_df.head()

,School Name,Student,Grade,Reading Score,Math Score,Type,Size,Budget,Passing Math
0,Huang High School,Paul Bradley,9th,66,79,District,2917,1910635,True
1,Huang High School,Victor Smith,12th,94,61,District,2917,1910635,False
2,Huang High School,Kevin Rodriguez,12th,90,60,District,2917,1910635,False
3,Huang High School,Dr. Richard Scott,12th,67,58,District,2917,1910635,False
4,Huang High School,Bonnie Ray,9th,97,84,District,2917,1910635,True

In [17]:
# create passing reading column to add to groupby
rename_df['Passing Reading'] = np.where(rename_df['Reading Score']>=70, True, False)
rename_df.head()

,School Name,Student,Grade,Reading Score,Math Score,Type,Size,Budget,Passing Math,Passing Reading
0,Huang High School,Paul Bradley,9th,66,79,District,2917,1910635,True,False
1,Huang High School,Victor Smith,12th,94,61,District,2917,1910635,False,True
2,Huang High School,Kevin Rodriguez,12th,90,60,District,2917,1910635,False,True
3,Huang High School,Dr. Richard Scott,12th,67,58,District,2917,1910635,False,False
4,Huang High School,Bonnie Ray,9th,97,84,District,2917,1910635,True,True

In [18]:
#sort renamed data frame by school by name and type
school_group = rename_df.groupby(['School Name', 'Type'])
print(school_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fcf37cef550>

In [19]:
#student count
total_students = school_group['Student'].count()
total_students

School Name            Type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student, dtype: int64

In [20]:
#school budget
school_budget = school_group['Budget'].mean()

school_budget

School Name            Type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: Budget, dtype: int64

In [21]:
#budget per student
budget_per_student = (school_budget/total_students)
budget_per_student

School Name            Type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [22]:
#average math score
average_math = school_group['Math Score'].mean()

average_math

School Name            Type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: Math Score, dtype: float64

In [23]:
#average reading score
average_reading = school_group['Reading Score'].mean()
average_reading

School Name            Type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: Reading Score, dtype: float64

In [24]:
#percent of students passing math
passing_math = school_group['Passing Math'].mean()
pass_math_percent = passing_math * 100
pass_math_percent

School Name            Type
Bailey High School     District    66.680064
Cabrera High School    Charter     94.133477
Figueroa High School   District    65.988471
Ford High School       District    68.309602
Griffin High School    Charter     93.392371
Hernandez High School  District    66.752967
Holden High School     Charter     92.505855
Huang High School      District    65.683922
Johnson High School    District    66.057551
Pena High School       Charter     94.594595
Rodriguez High School  District    66.366592
Shelton High School    Charter     93.867121
Thomas High School     Charter     93.272171
Wilson High School     Charter     93.867718
Wright High School     Charter     93.333333
Name: Passing Math, dtype: float64

In [25]:
#percent of students passing reading
passing_reading = school_group['Passing Reading'].mean()
pass_reading_percent = passing_reading * 100
pass_reading_percent

School Name            Type
Bailey High School     District    81.933280
Cabrera High School    Charter     97.039828
Figueroa High School   District    80.739234
Ford High School       District    79.299014
Griffin High School    Charter     97.138965
Hernandez High School  District    80.862999
Holden High School     Charter     96.252927
Huang High School      District    81.316421
Johnson High School    District    81.222432
Pena High School       Charter     95.945946
Rodriguez High School  District    80.220055
Shelton High School    Charter     95.854628
Thomas High School     Charter     97.308869
Wilson High School     Charter     96.539641
Wright High School     Charter     96.611111
Name: Passing Reading, dtype: float64

In [26]:
#Overall Passing Rate (Average of the above two)
overall_pass = ((passing_reading + passing_math) / 2)*100
overall_pass

School Name            Type
Bailey High School     District    74.306672
Cabrera High School    Charter     95.586652
Figueroa High School   District    73.363852
Ford High School       District    73.804308
Griffin High School    Charter     95.265668
Hernandez High School  District    73.807983
Holden High School     Charter     94.379391
Huang High School      District    73.500171
Johnson High School    District    73.639992
Pena High School       Charter     95.270270
Rodriguez High School  District    73.293323
Shelton High School    Charter     94.860875
Thomas High School     Charter     95.290520
Wilson High School     Charter     95.203679
Wright High School     Charter     94.972222
dtype: float64

In [27]:
#Create a dataframe to hold the results
school_table = pd.DataFrame({"Total Students": total_students, 
                             "Total School Budget": school_budget, 
                             "Per Student Budget": budget_per_student, 
                             "Average Math Score": average_math, 
                             "Average Reading Score": average_reading, 
                             "% Passing Math": pass_math_percent, 
                             "% Passing Reading": pass_reading_percent,
                             "% Overall Passing Rate": overall_pass})
school_table.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [28]:
#reset index to return Type to column

school_table.reset_index('Type', inplace = True)
school_table.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [29]:
#display top preforming schools by passing rate
top_performing_schools = school_table.sort_values(["% Overall Passing Rate"], ascending = False)
top_performing_schools.head(5)

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [30]:

#display bottom preforming schools by passing rate
bottom_performing_schools = school_table.sort_values(["% Overall Passing Rate"])
bottom_performing_schools.head(5)

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade


  * Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [31]:
#math score by grade 
#use loc to find each grade in each school
#combi all grades into data table
#groupby based on schools
# math_df = rename_df[["School Name", "Math Score"]]
# math_df.head()

In [32]:
#create a new data frame based indexed by student ID

In [33]:
#create a 9th grade
# sorted_math = total_math_df.loc[rename_df.Grade == '9th', ['School Name', 'Math Score']] 
# ninth.head()
total_math_df = school_data_df[["Student ID", "grade", "school_name", "math_score"]]
total_math_df.head()

   Student ID grade        school_name  math_score
0           0   9th  Huang High School          79
1           1  12th  Huang High School          61
2           2  12th  Huang High School          60
3           3  12th  Huang High School          58
4           4   9th  Huang High School          84

In [72]:
ninth = total_math_df.loc[total_math_df.grade=='9th', :]
ninth.head()

    Student ID grade        school_name  math_score
0            0   9th  Huang High School          79
4            4   9th  Huang High School          84
5            5   9th  Huang High School          94
12          12   9th  Huang High School          79
13          13   9th  Huang High School          79

In [75]:
#create a 10th grade colemn
tenth = total_math_df.loc[total_math_df.grade=='10th', :]

In [74]:
#create a 11th grade colemn
eleventh = total_math_df.loc[total_math_df.grade=='11th', :]

In [73]:
#create a 12th grade colemn
twelfth = total_math_df.loc[total_math_df.grade=='12th', :]

In [38]:
#merge for new data frame  merge_df = pd.merge(info_df, items_df, on="customer_id")
math_merge = pd.merge(ninth, tenth, on='School')
# math_merge
# math_table = ({"9th": ninth,
# math_table

In [39]:
#groupby
# math_group = math_table.groupby('School Name')
# math_group

In [40]:
#select ba series

## Reading Score by Grade

In [41]:
#Reading score by grade 
#use loc to find each grade in each school
#combi all grades into data table
#groupby based on schools

* Perform the same operations as above for reading scores

In [42]:
#use the groupby data frame us sample bins
#Average Math Score by school

In [43]:
#Average Reading Score

In [44]:
#% Passing Math

In [45]:
#% Passing Math

In [46]:
#Overall Passing Rate (Average of the above two)

In [47]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [48]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student)
school_spending = school_table[["Per Student Budget", 
                            "Average Math Score", 
                            "Average Reading Score", 
                            "% Passing Math", 
                            "% Passing Reading", 
                            "% Overall Passing Rate"]]
school_spending.head()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [49]:
#remove schools index
school_spending.reset_index(drop=True, inplace=True)

In [50]:
# Sample bins
spending_bins = [0, 585, 615, 645, 675]
spending_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [51]:
#sort into bins
pd.cut(school_spending["Per Student Budget"], bins=spending_bins, labels=spending_names).head()

0    $615-645
1       <$585
2    $615-645
3    $615-645
4    $615-645
Name: Per Student Budget, dtype: category
Categories (4, object): [<$585 < $585-615 < $615-645 < $645-675]

In [52]:
school_spending["Spending Ranges (Per Student)"] = pd.cut(school_spending["Per Student Budget"], bins=spending_bins, labels=spending_names)

/Users/darenhamilton/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
school_spending_group = school_spending.groupby("Spending Ranges (Per Student)").mean()
school_spending_group.head()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,,
<$585,581.000000,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,604.500000,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,635.166667,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,652.333333,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

In [54]:
# create data frame needed
school_size = school_table[["Total Students", 
                            "Average Math Score", 
                            "Average Reading Score", 
                            "% Passing Math", 
                            "% Passing Reading", 
                            "% Overall Passing Rate"]]
# school_size.head()

In [55]:
#remove schools index
school_size.reset_index(drop=True, inplace=True)
# school_size.head()

In [56]:
# set bin size for comparision
size_bins = [0, 1000, 2000, 5000]

In [57]:
#set group names
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [58]:
pd.cut(school_size["Total Students"], bins=size_bins, labels=group_names).head()

0     Large (2000-5000)
1    Medium (1000-2000)
2     Large (2000-5000)
3     Large (2000-5000)
4    Medium (1000-2000)
Name: Total Students, dtype: category
Categories (3, object): [Small (<1000) < Medium (1000-2000) < Large (2000-5000)]

In [59]:

school_size["School Size"] = pd.cut(school_size["Total Students"], bins=size_bins, labels=group_names)
# school_size.head()

/Users/darenhamilton/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
school_size_group = school_size.groupby("School Size").mean()
school_size_group.head()

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,,
Small (<1000),694.500,83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),1704.400,83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),3657.375,77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

In [61]:
#reduce DF columns
school_type = school_table[["Type", 
                            "Average Math Score", 
                            "Average Reading Score", 
                            "% Passing Math", 
                            "% Passing Reading", 
                            "% Overall Passing Rate"]]
# school_type.head()

In [62]:
#remove from index and then groupby school type
school_type.reset_index(drop=True, inplace=True)
# school_type.head()

In [63]:
#groupby type               
school_type_group = school_type.groupby(['Type']).mean()
school_type_group

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757