### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
#create a data frame
school_data_df = school_data_complete
school_data_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
# reduce to necessary information
reduced_df = school_data_df[["school_name", "student_name", "grade", "reading_score", "math_score", "type", "size", "budget"]]
reduced_df.head()

,school_name,student_name,grade,reading_score,math_score,type,size,budget
0,Huang High School,Paul Bradley,9th,66,79,District,2917,1910635
1,Huang High School,Victor Smith,12th,94,61,District,2917,1910635
2,Huang High School,Kevin Rodriguez,12th,90,60,District,2917,1910635
3,Huang High School,Dr. Richard Scott,12th,67,58,District,2917,1910635
4,Huang High School,Bonnie Ray,9th,97,84,District,2917,1910635

In [13]:
# rename headers

rename_df = reduced_df.rename(columns={"school_name": "School Name", 
                                       "student_name": "Student",
                                       "grade": "Grade",
                                       "reading_score": "Reading Score", 
                                       "math_score":"Math Score",
                                       "type": "Type",
                                       "size": "Size",
                                       "budget": "Budget"})

In [14]:
rename_df.head(15)

,School Name,Student,Grade,Reading Score,Math Score,Type,Size,Budget
0,Huang High School,Paul Bradley,9th,66,79,District,2917,1910635
1,Huang High School,Victor Smith,12th,94,61,District,2917,1910635
2,Huang High School,Kevin Rodriguez,12th,90,60,District,2917,1910635
3,Huang High School,Dr. Richard Scott,12th,67,58,District,2917,1910635
4,Huang High School,Bonnie Ray,9th,97,84,District,2917,1910635
5,Huang High School,Bryan Miranda,9th,94,94,District,2917,1910635
6,Huang High School,Sheena Carter,11th,82,80,District,2917,1910635
7,Huang High School,Nicole Baker,12th,96,69,District,2917,1910635
8,Huang High School,Michael Roth,10th,95,87,District,2917,1910635
9,Huang High School,Matthew Greene,10th,96,84,District,2917,1910635
10,Huang High School,Andrew Alexander,10th,90,70,District,2917,1910635
11,Huang High School,Daniel Cooper,10th,78,77,District,2917,1910635
12,Huang High School,Brittney Walker,9th,64,79,District,2917,1910635
13,Huang High School,William Long,9th,71,79,District,2917,1910635
14,Huang High School,Tammy Hebert,10th,85,67,District,2917,1910635

In [15]:
#Calculate the total number of schools
school_count = len(rename_df["School Name"].unique())
school_count

15

In [16]:
#Calculate the total number of students
student_count = len(rename_df["Student"])
student_count

39170

In [17]:
#Calculate the total budget
total_budget = sum(rename_df["Budget"].unique())
total_budget

24649428

In [18]:
#Calculate the average math score
average_math_score = rename_df["Math Score"].mean()
average_math_score

78.98537145774827

In [19]:
#Calculate the average reading score
average_reading_score = rename_df["Reading Score"].mean()
average_reading_score

81.87784018381414

In [20]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (average_reading_score + average_math_score) / 2
overall_passing_rate

80.43160582078121

In [21]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = len(rename_df[rename_df["Math Score"] >= 70])
math_pass_percent = (passing_math / student_count) * 100
math_pass_percent

74.9808526933878

In [22]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = len(rename_df[rename_df["Reading Score"] >= 70])
reading_pass_percent = (passing_reading / student_count) * 100
reading_pass_percent

85.80546336482001

In [28]:
#Create a dataframe to hold the above results
summary_table = pd.DataFrame({"Total Schools": school_count, 
                              "Total Students": student_count, 
                              "Total Budget":total_budget, 
                              "Average Math Score": average_math_score, 
                              "Average Reading Score": average_reading_score, 
                              "Math Passing Rate": math_pass_percent, 
                              "Reading Passing Rate": reading_pass_percent, 
                              "Overall Passing Rate": overall_passing_rate}, index=[0])
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [24]:
#Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [25]:
school_group = rename_df.groupby(["School Name"])
school_group

In [31]:
student_count = len(school_goup["Student"]

# average_math_score = rename_df.groupby(["School Name"]).mean()["Math Score"]

# average_math_score

SyntaxError: unexpected EOF while parsing (<ipython-input-31-1e3b455e9108>, line 5)

In [26]:
# average_reading_score = rename_df.groupby(["School Name"]).mean()["Reading Score"]

# average_reading_score

In [27]:
# school_budget = rename_df.groupby(["School Name"]).sum()["Reading Score"]

# school_budget

In [ ]:
school_size = rename_df.groupby(["School Name"]).sum()["Budget"]

school_budget

Bottom Performing Schools (By Passing Rate)

Sort and display the five worst-performing schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade


  * Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757